.header {
    text-align: center;
    background: #33B5E5;
    color: #fff;
    padding: 12px;
    height: 80px;
}

a {
    color: #ffffff;
    text-decoration: none;
}
ul{
    display: flex;
    justify-content: center;
    gap: 10px;
}

