<div class="product-container">
    <!-- Image -->
    <div class="product-image" routerLink="/products/{{product.id}}">
        <img [src]="product.url" alt="">
    </div>
    <!-- Title -->
    <h3>{{product.name}}</h3>
    <!-- price -->
    <span class="price">{{product.price |currency}}</span>
    <!-- Select -->
   <form [formGroup]="addCart" >
    <select formControlName="amount" class="select-input">
            <option value="select" selected disabled>select</option>
            <option *ngFor="let option of options " [value]="option">{{option}}</option>
        </select>
    </form> 

    <!-- Button -->
    <button type="submit" (click)="addToCart()"  class="button">Add to cart</button>
</div>